/* General Styles */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Calendar Styles */
.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0 20px;
  color: #4caf50;
}

.arrow-button:hover {
  color: #45a049;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weekday {
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 75px;
  position: relative;
  border: 1px solid #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  color: #a6a6a6;
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}

.empty {
  background-color: transparent;
}

.activity-form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.activity-form h4 {
  margin-bottom: 10px;
}

.activity-form input {
  padding: 5px;
  margin-right: 10px;
  width: 200px;
}

.activity-form button {
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.activity-form button:hover {
  background-color: #45a049;
}

.activity-form ul {
  list-style-type: none;
  padding-left: 0;
}

.activity-form li {
  margin: 5px 0;
}
